@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    --VeryDarkSesaturatedBlue: hsl(238, 29%, 16%);
    --SoftRed: hsl(14, 88%, 65%);
    --SoftViolet: hsl(273, 75%, 66%);
    --SoftBlue: hsl(240, 73%, 65%);
    --VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --DarkGrayishBlue: hsl(240, 6%, 50%);
    --LightGrayishBlue: hsl(240, 5%, 91%);
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    font-size: 12px;
    background: linear-gradient(var(--SoftViolet) , var(--SoftBlue));
    display: flex;
    height: 100vh;
}
main{
    position: relative;
    width: 90%;
    min-width: 337px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 10px 50px var(--VeryDarkGrayishBlue);
    border-radius: 1.5rem;
}
main > picture:first-child > img {
    position: absolute;
    width: 15rem;
    left: 50%;
    top: -6.7rem;
    transform: translateX(-50%);
}
main > picture:nth-child(2) img {
    display: block;
    margin: auto;
}
body > picture > img {
    display: none;
}
header {
    margin-top: 2rem;
}
header h1 {
    text-align: center;
    font-size: 2rem;
}
ul {
    margin: 1.5rem;
    list-style: none;
}
ul > li {
    padding: 1rem 0 .5rem 0;
    border-bottom: 1px solid var(--DarkGrayishBlue);
}
ul > li > h2 {
    position: relative;
    font-size: .9rem;
    color: var(--DarkGrayishBlue);
    cursor: pointer;
    transition: all .5s ease-out;
}
ul > li > h2:hover {
    color: var(--SoftRed);
}
ul > li > h2 > img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all .5s ease-out;
}
ul > li > p {
    overflow: hidden;
    height: 0px;
    margin-top: .5rem;
    color: var(--DarkGrayishBlue);
    transition: all .5s ease-out;
}
ul > li > h2.active {
    color: var(--VeryDarkSesaturatedBlue);
}
ul > li >h2.active > img {
    transform: rotateZ(-179deg) translateY(50%);
}
ul > li > h2.active + p {
    height: 45px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (min-width:800px) {
    main {
        width: 800px;
        min-height: 450px;
        overflow: hidden;
    }
    header {
        margin-top: 4rem;
    }
    ul {
        float: right;
        width: 45%;
        margin-right: 8%;
    }
    body > picture > img {
        display: initial;
        position: absolute;
        width: 10rem;
        top: 50%;
        left: 50%;
        transform: translateY(-25%) translateX(-300%);
        z-index: 1;
    }
    main > picture:first-child > img {
        width: 25rem;
        left: -8%;
        top: 50%;
        transform: translateX(0) translateY(-50%);
    }
    main > picture:nth-child(2) img {
        position: absolute;
        width: 100%;
        left: -58%;
        top: -50%;
    }
    main > header h1 {
        margin-left: 1rem;
    }
    
}